@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-admin-bg text-admin-text font-sans antialiased selection:bg-admin-accent selection:text-white;
  }
}

/* Custom Light Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
